{
  "extends": [
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:@next/next/recommended",
    "plugin:import/typescript"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "import",
    "@typescript-eslint",
    "prettier",
    "react"
  ],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".ts", ".tsx", ".mjs"
      ]
    }
  },
  "rules": {
    "prettier/prettier": [
      "off"
    ],
    "func-names": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "max-classes-per-file": "off",
    "no-bitwise": "off",
    "class-methods-use-this": "off",
    "no-new": "off",
    "no-plusplus": "off",
    "no-param-reassign": "off",
    "no-else-return": "off",
    "no-useless-return": "off",
    "no-return-assign": "off",
    "consistent-return": "off",
    "no-underscore-dangle": "off",
    "@typescript-eslint/return-await": "off",
    "no-console": "off",
    "no-restricted-syntax": "off",
    "@typescript-eslint/no-empty-function": "off",
    "import/no-unresolved": "off"
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
